/* canvas { */
/*     border:3px solid #2C2C2B; [> 1px border around canvas <] */
/*     background-color:#fff; */
/* } */

#cursor {
	position: absolute;
	background: url(cursor.png) no-repeat;
	height: 300px;
	width: 300px;
	border: 1px;
}

#map {
	position: relative;
	border: 3px solid black;
	height:	360px;
	width: 480px;
}

